<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828419727490-gmd9njg6m04ikquonjs4en20utc12bvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828419727490-gmd9njg6m04ikquonjs4en20utc12bvm</string>
	<key>API_KEY</key>
	<string>AIzaSyA-NUXruimBxDBRlunP28sCoZ3KGXe4pt4</string>
	<key>GCM_SENDER_ID</key>
	<string>828419727490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ohunmamajon.Lambo-Chat</string>
	<key>PROJECT_ID</key>
	<string>lambochat-65b7a</string>
	<key>STORAGE_BUCKET</key>
	<string>lambochat-65b7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828419727490:ios:38098b2726d7e8683ad49b</string>
</dict>
</plist>